<%= form_for([@event, @event.lectures.build]) do |f| %>
  <div class="field">
    <%= f.label Lecture.human_attribute_name(:name) %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label Lecture.human_attribute_name(:description) %><br />
    <%= f.text_area :description %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

