<p>
  <b><%=Lecture.human_attribute_name(:name)%>:</b>
  <%= lecture.name %>
</p>

<p>
  <b><%=Lecture.human_attribute_name(:description)%>:</b>
  <p>
    <%= lecture.description.gsub(/\n/,"<br />").html_safe %>
  </p>
</p>


<p>
  <b><%=Lecture.human_attribute_name(:user)%>:</b>
  <%= lecture.user.name %>
</p>

<p>
  <%= link_to t(:destroy_lecture), [lecture.event, lecture],
               :confirm => t(:confirm),
               :method => :delete %>
</p>
<br />

