<h1>Listing lectures</h1>

<table>
  <tr>
    <th><%=Lecture.human_attribute_name(:name)%></th>
    <th><%=Lecture.human_attribute_name(:description)%></th>
    <th><%=Lecture.human_attribute_name(:positive_vote)%></th>
    <th><%=Lecture.human_attribute_name(:negative_vote)%></th>
    <th><%=Lecture.human_attribute_name(:user)%></th>
    <th><%=Lecture.human_attribute_name(:event)%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lectures.each do |lecture| %>
  <tr>
    <td><%= lecture.name %></td>
    <td><%= lecture.description %></td>
    <td><%= lecture.positive_vote %></td>
    <td><%= lecture.negative_vote %></td>
    <td><%= lecture.user_id %></td>
    <td><%= lecture.event_id %></td>
    <td><%= link_to t(:show), lecture %></td>
    <td><%= link_to t(:edit), edit_lecture_path(lecture) %></td>
    <td><%= link_to t(:destroy), lecture, :confirm => t(:confirm), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new), new_lecture_path %>

