<p>
  <b><%=Lecture.human_attribute_name(:name)%>:</b>
  <%= @lecture.name %>
</p>

<p>
  <b><%=Lecture.human_attribute_name(:description)%>:</b>
  <p>
    <%= @lecture.description.gsub(/\n/,"<br />").html_safe %>
  </p>
</p>

<p>
  <b><%=Lecture.human_attribute_name(:positive_vote)%>:</b>
  <%= @lecture.positive_vote %>
</p>

<p>
  <b><%=Lecture.human_attribute_name(:negative_vote)%>:</b>
  <%= @lecture.negative_vote %>
</p>

<p>
  <b><%=Lecture.human_attribute_name(:user)%>:</b>
  <%= @lecture.user.name %>
</p>

<p>
  <b><%=Lecture.human_attribute_name(:event)%>:</b>
  <%= @lecture.event.name %>
</p>


<%= link_to t(:edit), edit_lecture_path(@lecture) %> |
<%= link_to t(:back), lectures_path %>

