<h3 class="lecture_name"><%= @lecture.name %></h3>
<h4 class="event_name"><%= link_to @lecture.event.name, @lecture.event %></h4>

<div class="speaker">
<% if @lecture.user.image %><%= image_tag @lecture.user.identities.first.image, :alt => @lecture.user.identities.first.name, :class => "user_image photo" %><% end %>
<%= link_to @lecture.user.identities.first.name, @lecture, :class => "user_name" %>
</div>

<div class="lecture">
<%= markdown @lecture.description %>
</div>

<%= render :partial => 'layouts/vote_lecture', :locals => { :lecture => @lecture, :can_login => true } %>