<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lecture.name %>
</p>

<p>
  <b>Description:</b>
  <%= @lecture.description %>
</p>

<p>
  <b>Positive vote:</b>
  <%= @lecture.positive_vote %>
</p>

<p>
  <b>Negative vote:</b>
  <%= @lecture.negative_vote %>
</p>

<p>
  <b>User:</b>
  <%= @lecture.user_id %>
</p>

<p>
  <b>Event:</b>
  <%= @lecture.event_id %>
</p>

