<h1 class="hat title">Usuários</h1>

<% if @users %>
  <ul id="users" class="list">
<% @users.each do |user| %>
  <% permitted_to? :index, user do %>

    <li class="clearfix">
      <% if user.identities.first %>
      <% if user.identities.first.image -%>
        <img src="<%= user.identities.first.image %>" alt="<%= user.identities.first.name %>" class="user_photo">
      <% end -%>
      
      <strong><%= user.identities.first.name %></strong> <%= user_role(user) %><br>
      <% user.identities.each do |identity| %>
        <%= link_to identity.provider.capitalize, identity.link %><br/>
      <% end %>
      <% permitted_to? :edit, :users do %>
      <div>
        Mudar para:
        <%= link_to 'Visitante', change_user_path(user, 'guest'), :class => "user_role" if !user.guest? %>
        <%= link_to 'Membro', change_user_path(user, 'member'), :class => "user_role" if !user.member? %>
        <%= link_to 'Admin', change_user_path(user, 'admin'), :class => "user_role" if !user.admin? %>
      </div>
      <% end %>
      <% end %>
    </li>
  <% end %>
<% end %>
  </ul>
<% end %>

