        <h1 class="hat title">Entre em Contato</h1>

        <div id="formulario">
            <%= form_tag contact_path do%>
                <%= text_field_tag :nome, "", :placeholder => "Nome:"%>                

                <%= text_field_tag :email, "", :placeholder => "E-mail:"%>                

                <%= text_field_tag :assunto, "", :placeholder => "Assunto:"%>                

                <%= text_area_tag :mensagem,"", :cols => 40, :rows => 8%>

                <%= button_tag "Enviar"%>
            <%end%>

            <div id="error">
                * Todos os campos são obrigatórios
            </div>
        </div>

        <div id="informacoes">
            <h4>
                Endereço de nossos Encontros: <br>
                <span>
                    <p>Universidade Estadual do Piauí - UESPI</p>
                    <p>Rua João Cabral, 2231 - Pirajá - Teresina</p>
                    <p>Cep: 64.002-150</p>
                    <p>Piauí - Brasil</p>
                </span>
            </h4>
        </div>
            <!-- imagens -->
        <a href="http://maps.google.com.br/maps/ms?msa=0&amp;msid=205842815744288559189.0004ada153dd002cfdfca&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-5.077137,-42.827539&amp;spn=0.011456,0.020771&amp;z=15&amp;output=embed&amp;width=680&amp;height=500" rel="prettyPhoto[iframes]"><img src="images/mapa.png" alt="Mapa" class="mapa1"></a>

        <aside id="about_info">
            <section id="social" class="column2">
                <h3 class="hat"><span class="icon"></span>Redes Sociais</h3>
                <p class="twitter"><a href="http://twitter.com/gurupi_" target="_blank"><span class="icon"></span>twitter.com/gurupi_</a></p>
                <p class="facebook"><a href="http://fb.com/gurupi" target="blank_"><span class="icon"></span>fb.com/gurupi</a></p>
            </section>

            <section id="contact" class="column3">
                <h3 class="hat"><span class="icon"></span>Contatos</h3>
                <p class="email"><span class="icon"></span>E-mail: <a href="mailto:contato@gurupi.org">contato@gurupi.org</a></p>
            </section>
        </aside>      