<div id="intro">
  <div class="container">
    <article class="topic">

      <div id="slideshow">
        <img class="active" src="/images/image1.jpg" alt="Rafael Marques palestrando no 4º Encontro do GuruPI" title="" />
        <img src="/images/image2.jpg" alt="" title="" />
        <img src="/images/image3.jpg" alt="" title="" />
        <img src="/images/image4.jpg" alt="" title="" />
      </div>
      <% if @event.present? %>
        <h2><%= @event.name %></h2>
        <p><%= @event.description.gsub(/\n/,"<br />").html_safe %></p>
        <a href="http://maps.google.com/maps/place?cid=13685776032963445195&q=uespi&hl=en&sll=-6.6728,-43.298087&sspn=7.537956,3.732754&ie=UTF8&ll=-0.307616,-50.888672&spn=0,0&z=6" style="padding-left: 11px;">Localização: <%= @event.place %></a>
      <%end%>
      <ul>
        <li class="talks"><a href="http://call4paperz.com/events/5%C2%BA-encontro-gurupi"><span class="icon"></span>Palestras</a></li>
        <li class="photos"><a href="#fotos"><span class="icon"></span>Fotos</a></li>
        <li class="videos"><a href="#videos"><span class="icon"></span>Vídeos</a></li>
      </ul>
    </article>
  </div>
</div>

<div id="extra">
  <div class="container">
    <section id="encontros" class="column">
      <h3 class="hat"><span class="icon"></span>Próximo Encontro</h3>
      <p class="title">Vote na palestra que você deseja assistir no próximo encontro GuruPI que será realizado no dia <%=l @event.event_date unless !@event.present?  %></p>
      <ul>
        <li>
          <p>
            <img src="http://a2.twimg.com/profile_images/534258280/Photo_46_normal.jpg" alt="Dmitry Nix" class="photo">
            <a href="http://twitter.com/dmitrynix">@dmitrynix</a> falando sobre:
          </p>
          <h4><a href="#ruby">Ruby: do básico ao avançado</a></h4>
          <div>
            <a href="#gostei" class="liked"><span class="count">11</span></a>
            <a href="#naogostei" class="disliked"><span class="count">3</span></a>
          </div>
        </li>
        <li>
          <p>
            <img src="http://a2.twimg.com/profile_images/534258280/Photo_46_normal.jpg" alt="Dmitry Nix" class="photo">
            <a href="http://twitter.com/dmitrynix">@dmitrynix</a> falando sobre:
          </p>
          <h4><a href="#ruby">Ruby: do básico ao avançado</a></h4>
          <div>
            <a href="#gostei" class="liked"><span class="count">9</span></a>
            <a href="#naogostei" class="disliked"><span class="count">2</span></a>
          </div>
        </li>
        <li>
          <p>
            <img src="http://a2.twimg.com/profile_images/534258280/Photo_46_normal.jpg" alt="Dmitry Nix" class="photo">
            <a href="http://twitter.com/dmitrynix">@dmitrynix</a> falando sobre:
          </p>
          <h4><a href="#ruby">Ruby: do básico ao avançado</a></h4>
          <div>
            <a href="#gostei" class="liked"><span class="count">10</span></a>
            <a href="#naogostei" class="disliked"><span class="count">1</span></a>
          </div>
        </li>
      </ul>
      <%= link_to "Cadastrar Palestra", @event, :class => "button-add" %>
    </section>

    <section id="blogs" class="column">
      <h3 class="hat"><span class="icon"></span>Blogs</h3>
      <ul>
        <% if @posts.present? %>
          <% @posts.each do |post| %>
            <li>
              <p>
                <img src="http://a1.twimg.com/profile_images/1293391269/cleiton_photo_2011_bigger.jpg" alt="Cleiton Francisco" class="photo">
                <a href="http://twitter.com/cleitonfco">@cleitonfco</a> em <time title="<%=l post.created_at, format: :time_tag%>"><%=l post.created_at.to_date %></time>
              </p>
              <h4><%= link_to post.title, post %></h4>
            </li>
          <% end %>
        <% end %>
      </ul>
    </section>

    <section id="atividades" class="column">
      <h3 class="hat"><span class="icon"></span>Últimas atividades</h3>
      <ul>
        <li>
          <p>
            <img src="http://a1.twimg.com/profile_images/1361978035/DSCF0181_normal.jpg" class="photo">
            <a href="http://twitter.com/samflores" class="user">@samflores</a>atualizou seu perfil
          </p>
        </li>
        <li>
          <p>
            <img src="http://a0.twimg.com/profile_images/479789654/papai_nenem_normal.jpg" class="photo">
            <a href="http://twitter.com/eliaswebdev" class="user">@eliaswebdev</a>atualizou seu perfil
          </p>
        </li>
        <li>
          <p>
            <img src="http://a2.twimg.com/profile_images/301833686/FOTO_MSN_normal.jpg" class="photo">
            <a href="http://twitter.com/joselemartins" class="user">@joselemartins</a>atualizou seu perfil
          </p>
        </li>
        <li>
          <p>
            <img src="http://a3.twimg.com/profile_images/1097609445/foto_paulo_gustavo_normal.jpg" class="photo">
            <a href="http://twitter.com/paulogustavo" class="user">@paulogustavo</a>atualizou seu perfil
          </p>
        </li>
        <li>
          <p>
            <img src="http://a1.twimg.com/profile_images/1283026133/cyrus_normal.jpg" class="photo">
            <a href="http://twitter.com/cyruscavalcante" class="user">@cyruscavalcante</a>atualizou seu perfil
          </p>
        </li>
        <li>
          <p>
            <img src="http://a0.twimg.com/profile_images/1283027039/foto-cabelo_curto_face0_normal.jpg" class="photo">
            <a href="http://twitter.com/weldyss" class="user">@weldyss</a>atualizou seu perfil
          </p>
        </li>
        <li>
          <p>
            <img src="http://a2.twimg.com/profile_images/301833686/FOTO_MSN_normal.jpg" class="photo">
            <a href="http://twitter.com/joselemartins" class="user">@joselemartins</a>atualizou seu perfil
          </p>
        </li>
        <li>
          <p>
            <img src="http://a3.twimg.com/profile_images/1097609445/foto_paulo_gustavo_normal.jpg" class="photo">
            <a href="http://twitter.com/paulogustavo" class="user">@paulogustavo</a>atualizou seu perfil
          </p>
        </li>
        <li>
          <p>
            <img src="http://a1.twimg.com/profile_images/1283026133/cyrus_normal.jpg" class="photo">
            <a href="http://twitter.com/cyruscavalcante" class="user">@cyruscavalcante</a>atualizou seu perfil
          </p>
        </li>
        <li>
          <p>
            <img src="http://a3.twimg.com/profile_images/1259891821/alicia-html5-android_normal.jpg" class="photo">
            <a href="http://twitter.com/leandroasp" class="user">@leandroasp</a>atualizou seu perfil
          </p>
        </li>
      </ul>
    </section>
  </div>
</div>

