<div id="intro">
  <div class="container">
    <article class="topic">
      <div id="slideshow">
        <iframe width="485" height="268" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps/ms?msa=0&amp;msid=205842815744288559189.0004ada153dd002cfdfca&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=-5.077137,-42.827539&amp;spn=0.011456,0.020771&amp;z=15&amp;output=embed"></iframe>
      </div>
      <% if @event.present? %>
        <h2><%= @event.name %></h2>
        <%= markdown @event.description %>
        <ul>
          <% if @event.place_url.present? %><li class="location"><%= link_to("<span class=\"icon\"></span>Localização: #{@event.place}".html_safe, @event.place_url) %></li><% end %>
          <% if @event.lectures.present? %><li class="talks"><%= link_to("<span class=\"icon\"></span>Palestras".html_safe, @event) %></li><% end %>
        </ul>
      <% end %>
    </article>
  </div>
</div>

<div id="extra">
  <div class="container">
    <section id="encontros" class="column">
      <h3 class="hat"><span class="icon"></span>Próximo Encontro</h3>
      <p class="title">Vote na palestra que você deseja assistir no próximo encontro GuruPI que será realizado no dia <%=l @event.event_date unless !@event.present? %></p>
      <% if @event.present? && @event.enable_lectures %>
        <ul>
        <% @event.lectures.ranking.each do |lecture| %>
          <li>
            <p><% if lecture.user.image %><img src="<%= lecture.user.image %>" alt="<%= lecture.user.name %>" class="user_image photo"><% end %>
            <%= link_to(lecture.user.name, lecture) %> falando sobre:
            </p>
            <h4><%= link_to(lecture.name, lecture) %></h4>
            <%= render :partial => 'layouts/vote_lecture', :locals => { :lecture => lecture, :can_login => false } %>
          </li>
        <%end%>
        </ul>
        <% permitted_to? :show, :events do %>
          <%= link_to "<span class='icon'></span>Cadastrar Palestra".html_safe , @event, :class => "button-add" %>
        <%end%>
     <% end %>
    </section>

    <section id="blogs" class="column">
      <h3 class="hat"><span class="icon"></span>Blogs</h3>
      <ul>
        <% if @posts.present? %>
          <% @posts.each do |post| %>
            <li>
              <p>
                <% if post.user.image %><img src="<%= post.user.image %>" alt="<%= post.user.name %>" class="user_image photo"><% end %>
                <%= link_to(post.user.name, post) %> em <time title="<%=l post.created_at, format: :time_tag%>"><%=l post.created_at.to_date %></time>
              </p>
              <h4><%= link_to post.title, post %></h4>
            </li>
          <% end %>
        <% end %>
      </ul>
      <% permitted_to? :create, :posts do %>
        <%= link_to "<span class='icon'></span>Cadastrar Post".html_safe, new_post_path, :class => "button-add" %>
      <%end%>
    </section>

    <section id="atividades" class="column">
      <h3 class="hat"><span class="icon"></span>Últimas atividades</h3>
      <ul>
        <li>
          <p>
            <img src="http://a1.twimg.com/profile_images/1361978035/DSCF0181_normal.jpg" class="photo">
            <a href="http://twitter.com/samflores" class="user">@samflores</a>atualizou seu perfil
          </p>
        </li>
        <li>
          <p>
            <img src="http://a0.twimg.com/profile_images/479789654/papai_nenem_normal.jpg" class="photo">
            <a href="http://twitter.com/eliaswebdev" class="user">@eliaswebdev</a>atualizou seu perfil
          </p>
        </li>
        <li>
          <p>
            <img src="http://a2.twimg.com/profile_images/301833686/FOTO_MSN_normal.jpg" class="photo">
            <a href="http://twitter.com/joselemartins" class="user">@joselemartins</a>atualizou seu perfil
          </p>
        </li>
        <li>
          <p>
            <img src="http://a3.twimg.com/profile_images/1097609445/foto_paulo_gustavo_normal.jpg" class="photo">
            <a href="http://twitter.com/paulogustavo" class="user">@paulogustavo</a>atualizou seu perfil
          </p>
        </li>
        <li>
          <p>
            <img src="http://a1.twimg.com/profile_images/1283026133/cyrus_normal.jpg" class="photo">
            <a href="http://twitter.com/cyruscavalcante" class="user">@cyruscavalcante</a>atualizou seu perfil
          </p>
        </li>
        <li>
          <p>
            <img src="http://a0.twimg.com/profile_images/1283027039/foto-cabelo_curto_face0_normal.jpg" class="photo">
            <a href="http://twitter.com/weldyss" class="user">@weldyss</a>atualizou seu perfil
          </p>
        </li>
        <li>
          <p>
            <img src="http://a2.twimg.com/profile_images/301833686/FOTO_MSN_normal.jpg" class="photo">
            <a href="http://twitter.com/joselemartins" class="user">@joselemartins</a>atualizou seu perfil
          </p>
        </li>
        <li>
          <p>
            <img src="http://a3.twimg.com/profile_images/1097609445/foto_paulo_gustavo_normal.jpg" class="photo">
            <a href="http://twitter.com/paulogustavo" class="user">@paulogustavo</a>atualizou seu perfil
          </p>
        </li>
        <li>
          <p>
            <img src="http://a1.twimg.com/profile_images/1283026133/cyrus_normal.jpg" class="photo">
            <a href="http://twitter.com/cyruscavalcante" class="user">@cyruscavalcante</a>atualizou seu perfil
          </p>
        </li>
        <li>
          <p>
            <img src="http://a3.twimg.com/profile_images/1259891821/alicia-html5-android_normal.jpg" class="photo">
            <a href="http://twitter.com/leandroasp" class="user">@leandroasp</a>atualizou seu perfil
          </p>
        </li>
      </ul>
    </section>
  </div>
</div>

