<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label Event.human_attribute_name(:name) %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label Event.human_attribute_name(:description) %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label Event.human_attribute_name(:event_date) %><br />
    <%= f.date_select :event_date %>
  </div>
  <div class="field">
    <%= f.label Event.human_attribute_name(:hour) %><br />
    <%= f.text_field :hour %>
  </div>
  <div class="field">
    <%= f.label Event.human_attribute_name(:place) %><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

