<table>
  <thead>
    <th>Nome</th>
    <th>Data do evento</th>
    <th>Hora de inicio</th>
    <th>Localização</th>
  </thead>

  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td>
      <%= link_to event.name, event_path(event) %>
      <% permitted_to? :edit, :events do %> | <%= link_to "Editar evento", edit_event_path(event), :class => 'edit_link' %><% end %>
      </td>
      <td><%=l event.event_date %></td>
      <td><%= event.hour %></td>
      <td><%= event.place %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Criar um novo evento', new_event_path, :class => "button-add" %>

