<p id="notice"><%= notice %></p>
<%= markdown @event.description %>
<p><strong>No dia <%=l @event.event_date %>, às <%= @event.hour %>, <%= @event.place %></strong></p>

<%
if @event.enable_lectures
  if @event.lectures.present?
%>
<h2>Palestras</h2>
<ul class="lectures"><%= render @event.lectures %></ul>
<% end %>

<% permitted_to? :create, :lectures do %>
<h2>Adicionar Palestra:</h2>
<%= render "lectures/form" %>
<% end %>
<% end %>

<div id="disqus_thread"></div>
<% content_for :javascripts do %>
<script type="text/javascript">
    var disqus_shortname = 'gurupi';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<% end %>
<noscript>Por favor habilite o JavaScript para ver <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">Gurupi comments is powered by <span class="logo-disqus">Disqus</span></a>
