<p>
  <b><%=Event.human_attribute_name(:name)%>:</b>
  <%= @event.name %>
</p>

<p>
  <b><%=Event.human_attribute_name(:description)%>:</b>
  <p>
    <%= @event.description.gsub(/\n/,"<br />").html_safe %>
  </p>
</p>

<p>
  <b><%=Event.human_attribute_name(:event_date)%>:</b>
  <%=l @event.event_date %>
</p>

<p>
  <b><%=Event.human_attribute_name(:hour)%>:</b>
  <%= @event.hour %>
</p>

<p>
  <b><%=Event.human_attribute_name(:place)%>:</b>
  <%= @event.place %>
</p>
<br />
<h2>Palestras</h2>

<%= render @event.lectures %>
<br />
<h2>Add uma Palestra:</h2>
<%= render "lectures/form" %>

