<!doctype html>
<!--[if lt IE 7 ]> <html lang="pt-br" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="pt-br" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="pt-br" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="pt-br" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="pt-br" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>GuruPI - Grupo de Usuários de Ruby do Piauí</title>
    <link rel="stylesheet" href="/stylesheets/style.css?v=1">
    <script src="/javascripts/modernizr-2.0.js"></script>
  </head>

  <body>
    <header id="top">
      <div class="container">
        <h1 id="logo"><a href="/" title="GuruPI - Grupo de Usuários de Ruby do Piauí"><img src="/images/logo.gif" alt="GuruPI - Grupo de Usuários de Ruby do Piauí"></a></h1>
        <nav>
          <ul id="menu">
            <li class="menuli about"><a href="#sobre"><span class="icon"></span>Sobre</a></li>
            <li class="menuli schedule"><a href="#agenda"><span class="icon"></span>Agenda</a></li>
            <li class="menuli users"><%= link_to %{<span class="icon"></span>Usuários}.html_safe, users_path %></li>
            <li class="menuli blogs"><a href="#blogs"><span class="icon"></span>Blogs</a></li>
            <li class="menuli contact"><a href="#contatos"><span class="icon"></span>Contatos</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div id="profile">
      <div class="container">
      <% if current_user %>
        <div>
          <% if current_user.image -%><img src="<%= current_user.image %>" alt="<%= current_user.name %>" class="user_image"><% end -%>
          <p class="account">Olá, <strong><%= current_user.name %></strong> <%= user_role(current_user) %> <span class="spacer">|</span> <%= link_to "Sair", signout_path, :class => "signout" %></p>
        </div>
      <% else %>
        <%= link_to "Conectar com Facebook", "/auth/facebook", :class => "login_facebook" %>
      <% end %>
      </div>
    </div>
    <%= yield %>
    <footer id="footer">
      <div class="container">
        <div class="links fb" align="center">
          <ul>
            <li><a href="#">Gurupi</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Agenda</a></li>
            <li><a href="#">Usuários</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">Imprensa</a></li>
            <li><a href="#" style="border: 0px none">Contatos</a></li>
          </ul>
        </div>
      </div>
      <div class="rights">Copyright 2011 - <a href="/">Gurupi</a></div>
    </footer>
    <%= csrf_meta_tag %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='/javascripts/jquery-1.6.1.min.js'>\x3C/script>")</script>
    <script>
    function slideSwitch() {
        var $active = $('#slideshow img.active');
      $active.addClass('last-active');

      // verifica se existe um próximo objeto na div #slideshow, caso ele nao exista, retorna para o primeiro
        var $next =  $active.next().length ? $active.next() : $('#slideshow img:first');

      // Codigo que define as transicoes entre as imagens
        $next.css({opacity: 0.0})
            .addClass('active')
            .animate({opacity: 1.0}, 1000, function() {
                $active.removeClass('active last-active');
            });
    }

    $(function() {
      //Executa a função a cada 5 segundos
      setInterval( "slideSwitch()", 5000 );
    });
    </script>
  </body>
</html>

