<!doctype html>
<!--[if lt IE 7 ]> <html lang="pt-br" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="pt-br" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="pt-br" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="pt-br" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="pt-br" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>GuruPI - Grupo de Usuários de Ruby do Piauí</title>
    <link rel="stylesheet" href="/stylesheets/style.css?v=2">
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <script src="/javascripts/modernizr-2.0.js"></script>
  </head>

  <body class="application">
    <div id="btn_contact">
      <a href="http://github.com/gurupi/gurupi.org" target="_blank" title="Faça um fork do site no Github" id="contato"></a>
    </div>
    <%= render "layouts/top" %>
    <%= render "layouts/profile" %>

<% if @breadcrumb.present? %>
    <section id="breadcrumb">
      <div class="container">
        <h3><a href="/" class="home_link">Home</a> <span class="interpages">&raquo;</span> <span class="current_page"><%= @breadcrumb %></span></h3>
      </div>
    </section>
<% end %>

    <div id="content">
      <div class="container">
          <article id="main">
            <%= yield %>
          </article>        
      </div>
    </div>

    <%= render "layouts/footer" %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='/javascripts/jquery-1.6.1.min.js'>\x3C/script>")</script>
    <script>
    function slideSwitch() {
        var $active = $('#slideshow img.active');
      $active.addClass('last-active');

      // verifica se existe um próximo objeto na div #slideshow, caso ele nao exista, retorna para o primeiro
        var $next =  $active.next().length ? $active.next() : $('#slideshow img:first');

      // Codigo que define as transicoes entre as imagens
        $next.css({opacity: 0.0})
            .addClass('active')
            .animate({opacity: 1.0}, 1000, function() {
                $active.removeClass('active last-active');
            });
    }

    $(function() {
      //Executa a função a cada 5 segundos
      setInterval( "slideSwitch()", 5000 );
    });
    </script>
    <%= yield(:javascripts) %>
  </body>
</html>

