<!doctype html>
<!--[if lt IE 7 ]> <html lang="pt-br" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="pt-br" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="pt-br" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="pt-br" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="pt-br" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>GuruPI - Grupo de Usuários de Ruby do Piauí</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application" %>  
    <%= javascript_include_tag "/assets/modernizr-2.0" %>  
  </head>

  <body class="home">
    <div id="btn_contact">
      <a href="http://github.com/gurupi/gurupi.org" target="_blank" title="Faça um fork do site no Github" id="contato"></a>
    </div>
    <%= render "layouts/top" %>
    <%= render "layouts/profile" %>

    <%= yield %>

    <%= render "layouts/footer" %>
    <%= javascript_include_tag "application" %>
    <script async="true">
<% if protect_against_forgery? -%>
var AUTH_TOKEN = "<%= form_authenticity_token %>";
<% end %>
    function slideSwitch() {
        var $active = $('#slideshow img.active');
      $active.addClass('last-active');

      // verifica se existe um próximo objeto na div #slideshow, caso ele nao exista, retorna para o primeiro
        var $next =  $active.next().length ? $active.next() : $('#slideshow img:first');

      // Codigo que define as transicoes entre as imagens
        $next.css({opacity: 0.0})
            .addClass('active')
            .animate({opacity: 1.0}, 1000, function() {
                $active.removeClass('active last-active');
            });
    }

    $(function() {
      //Executa a função a cada 5 segundos
      setInterval( "slideSwitch()", 5000 );
    });
    </script>
  </body>
</html>
